
<div class="features-section">
  <h2 class="section-title">Key Features</h2>

  <!-- <div class="features-grid">
    
    <p-card *ngFor="let f of features" class="feature-card">
      <i class="{{ f.icon }} feature-icon"></i>   
      <h3 class="feature-title">{{ f.title }}</h3>
      <p class="feature-description">{{ f.description }}</p>
    </p-card>
  </div> -->
  <div class="features-grid">
  <div class="feature-card" *ngFor="let feature of features">
    <div class="icon-wrapper">
      <i [class]="feature.icon"></i>
    </div>
    
    <h3 class="feature-title">{{ feature.name }}</h3>
    <p class="feature-description">{{ feature.description }}</p>
  </div>
</div>

</div>
