.hero-container {
  min-height: 100vh;
  text-align: center;
  padding: 40px;
  background: linear-gradient(to bottom, var(--slate-300), var(--emerald-600));
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0f172a;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #334155;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  align-items: stretch;
}

.safari-card {
  width: 280px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  height: 100%;
  min-height: 350px;
}

.safari-card:hover {
  transform: scale(1.03);
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .safari-card {
    width: 100%;
  }
}